<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= heading %></h1>
  <ul>
    <% for(let i=0; i<items.length; i++) { %>
      <li>
        <% if (typeof items[i] === 'object') { %>
          <% for (let key in items[i]) { %>
            <strong><%= key %>:</strong> <%= items[i][key] %><br>
          <% } %>
        <% } else { %>
          <%= items[i] %>
        <% } %>
      </li>
    <% } %>
  </ul>
</body>
</html>